@use 'global';
@use 'vars' as *;

.quiz-app {
    margin: 20px auto;
    width: 70%;
    background-color: $background-color;
    padding: 15px;
}
.quiz-app .quiz-info {
    display: flex;
    background-color: $section-color;
    justify-content: space-between;
    padding: $main-padding;
}
.quiz-app .quiz-area {
    background-color: $section-color;
    padding: $main-padding;
    margin-top: 15px;
}
.quiz-app .quiz-area h2 {
    margin: 0
}
.quiz-app .answers-area {
    background-color: $section-color;
    padding: $main-padding 0;
}
.quiz-app .answers-area .answer {
    // background-color: #f9f9f9;
    padding: $main-padding;
    width: 100%
}
.quiz-app .answers-area .answer:not(:last-child) {
    border-bottom: 1px solid #dfdfdf;
}
.quiz-app .answers-area .answer:has(input[type="radio"]:checked) {
    accent-color: $text-color;
} 
.quiz-app .answers-area .answer :is(input[type="radio"]:checked + label) {
    color: $text-color
} 
.quiz-app .answers-area .answer label {
    cursor: pointer;
    font-weight: bold;
    color: #777;
    font-size: 14px;
    margin-left: 5px;
    top: -1px;
    position: relative;
}
.quiz-app .submit-button {
    background-color: $text-color;
    color: white;
    border: none;
    width: fit-content;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 3px;
    margin: 10px 0;  
}
.quiz-app :has(.submit-button:focus) {
    outline: none
}
.quiz-app .bullets {
    border-top: 1px solid #dfdfdf;
    background-color: $section-color;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.quiz-app .bullets .spans {
    display: flex;
    gap: 5px;
}
.quiz-app .bullets .spans span {
    width: 20px;
    height: 20px;
    background-color: #eee;
    border-radius: 50%;
}
.quiz-app .bullets .spans span.on {
    background-color: $text-color;
}
.quiz-app .results {
    margin-top: 10px;
    padding: 20px 10px;
    background-color: #fff;
}
.quiz-app span {
    font-weight: bold;
    text-transform: capitalize;
}
.quiz-app span.bad {
    color: #dc0a0a;
}
.quiz-app span.good {
    color: #009688
}
.quiz-app span.perfect {
    color: $text-color
}